table{
    border-collapse: collapse;
}
a{
    color: #00ffcc;
}
a:hover{
    color: #f5a623;
}
td, th{
    border: 1px solid black;
    padding: 5px;
}
.mylink{
    cursor: pointer;
}
.mylink:hover{
    background: #eee;
}
.center{
    text-align: center;
}
.hint-link{
    position: fixed;
    left: 0;
    background: #222226;
    color: #B0B0B8;
    font-size: 10px;
    padding: 2px;
}
.menu-username{
    display: inline-block;
    margin-left: 2px;
}
.menuitem-profile{
    display: flex !important;
    align-items: center;
}
.user-icon{
    border-radius: 70px;
    display: inline-block;
}
.icon-xs{
    height: 35px;
    width: 35px;
}
#home{
    min-height: 100%;
    padding-bottom: 79.2px;
}
.footer-bottom{
    margin-top: -79.2px;
}
.logo{
    /*display: flex;*/
}
.logo img{
    height: 100px;
}